.dark-gray {
    -fx-background-color: #46474A;
}

.light-gray {
    -fx-background-color: #636566;
}

.transparent {
    -fx-background-color: rgba(0, 0, 0, 0);
}

.radius{
    -fx-background-radius: 100px;
}

.light-background-color{
    -fx-background-color: #F2F2F2;
}

.incoming-bubble{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100px;

}


.outgoing-bubble{
    -fx-background-color: #50C984;
    -fx-background-radius: 100px;

}

.light-color{

    -fx-background-color: #E5E4E2;
}