.dark-purper {
    -fx-background-color: #6639a6;
}

.light-purper {
    -fx-background-color: #9b75d0;
}

.transparent {
    -fx-background-color: rgba(0, 0, 0, 0);
}

.radius{
    -fx-background-radius: 0px 50px 0px 0px;
}

.light-background-color{
    -fx-background-color: #F2F2F2;
}

.incoming-bubble{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100px;

}


.outgoing-bubble{
    -fx-background-color: #50C984;
    -fx-background-radius: 100px;

}

.light-color{

    -fx-background-color: #cfbceb;
}

.search-bar{
    -fx-background-color: #9b75d0;

-fx-border-color: black; -fx-border-width: 2px;
}