.text-field {
     -fx-text-fill:#9b75d0;
     -fx-border-width: 0 0 2px 0;
     -fx-border-color: #F5F7F8;
     -fx-border-radius: 4px 4px 0 0;
     -fx-padding: 5px;
     -fx-focus-color: transparent;
 }
.text-field:focused {
     -fx-outline:none;
     -fx-focus-color: transparent;
     -fx-border-color: #9b75d0;
 }

 .btn-update{
     -fx-background-color: linear-gradient(to top right ,#9b75d0  , #6639a6);
     -fx-text-fill:white;
     -fx-border-color:#9b75d0;
     -fx-border-width: 0;
     -fx-background-radius: 10px;
     -fx-cursor: hand;
     -fx-font-size: 18px;
     -fx-font-weight: 500;
     -fx-line-spacing: 20px;
     -fx-padding: 5px 15px;
 }
 .btn-update:hover {
     -fx-background-color:#361b72;
     -fx-transition-duration: 0.3s;
 }
 .profile-image {
     -fx-cursor: hand;
 }
 .not-valid-label {
     -fx-text-fill:red;
 }
 .valid-label {
     -fx-text-fill:transparent;
 }

  .not-valid-text-field{
     -fx-text-fill:#9b75d0;
     -fx-border-width: 0 0 2px 0;
     -fx-border-color: red;
     -fx-border-radius: 4px 4px 0 0;
     -fx-padding: 5px;
     -fx-focus-color: transparent;
  }
  .not-valid-text-field:focused{
      -fx-outline:none;
      -fx-focus-color: transparent;
      -fx-border-color: red;
   }

.custom-combobox {
    -fx-background-color: linear-gradient(to top right ,#9b75d0  , #6639a6);
    -fx-text-fill:white;
    -fx-border-width: 0;
    -fx-background-radius: 10px;
    -fx-font-size: 15px;
    -fx-font-weight: 300;
    /*-fx-padding: 5px 15px;*/
}

.custom-combobox:hover {
    -fx-background-color:#361b72;
    -fx-transition-duration: 0.3s;
    -fx-text-fill: white;
}

/*.custom-combobox .list-cell {*/
/*    -fx-padding: 5px;*/
/*    -fx-text-fill: black;*/
/*}*/
.custom-combobox .cell:selected {
    /*-fx-background-color: #d0d0d0;*/
    -fx-text-fill: white;
}

.custom-combobox .cell:hover {
    -fx-background-color: rgba(197, 130, 208, 0.81);
}

