.styled-message {
    overflow: hidden;
    background-color: red;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;

}

.scroll-pane {
    -fx-background-image: url('/images/Chatbg.png');
    -fx-background-repeat: repeat;
    -fx-background-size: contain;
}

.stack-pane:hover {
    -fx-background-color: #6f8187;
}