.tree-cell {
    -fx-padding: 5px;
    -fx-background-color: transparent;
}

.tree-cell:selected {
    -fx-background-color: purple;
    -fx-text-fill: white;
}

.tree-cell:focused {
    -fx-background-color: purple;
}

.tree-cell:focused:selected {
    -fx-background-color:purple;
}